.NoteSceleton__container {
    width: 100%;
    padding: 10px 30px 10px 30px;
    background: #323232;
    font-family: 'Inconsolata';
    overflow: hidden;
}

.NoteSceleton__header {
    height: 40px;
    border-radius: 50px;
    background: #424242;
    animation: fadeOut 5s ease 0s infinite normal forwards;
}

.NoteSceleton__content-image {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 200px;
    background: #424242;
    border-radius: 30px;
    animation: fadeOut 5s ease 0s infinite normal forwards;
}

.NoteSceleton__content-text_row {
    margin-bottom: 10px;
    height: 20px;
    background: #424242;
    border-radius: 5px;
    animation: fadeOut 5s ease 0s infinite normal forwards;
}

@keyframes fadeOut {
    0%,
    50%,
    100% {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: .5;
    }
  }