@import "styles/_constants.scss";

.container {
    display: flex;

    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
    
    .tagItemsContainer {
        display: flex;

        @media screen and (max-width: 900px) {
            flex-wrap: wrap;
            padding: 10px 0;
        }
    }

    .tagsInput {
        outline: none;
        padding: 2px 6px;
        border-radius: 4px;
        background: $grey-3;
        border: 2px solid $grey-2;
        color: $text-grey-1;
        font-size: 16px;
    }
}