.container {
  padding: 15px 0 10px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  transition: .1s;
  background: #303030;

  &:hover {
    background: #3d3d3d;
  }

  .contentContainer {
    width: 100%;
    max-height: 100px;
    overflow: hidden;
    .text {
      margin: 0;
      color: #a5a5a5;

      .NoteListItemEditorWithoutToolbar {
        .quill .ql-toolbar {
          display: none;
        }
      }
    }
  }
}

.selected {
  background: #505050;
  &:hover {
  background: #505050;
  }
}

.typeContainer {
  margin-right: 10px;
  padding-top: 3px;
}

.typeCircle {
  width: 15px;
  height: 15px;
  border-radius: 20px;
}


.title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}


.tags {
  margin: 0;
  margin-top: 5px;
  color: #72abda;
}