@import 'styles/_constants.scss';

.container {
    width: 35%;
    height: 500px;
    border-radius: 20px;
    background: $grey-dark-1;

    .title {
        display: flex;
        align-items: center;
    }
}