$primaryColor: #BC6AED;
$secondaryColor: #6ADCED;
$darkenColor: #ED7A6A;
$activeColor: #9BED6A;

// $primaryColor: #644CC3;
// $secondaryColor: #A856F7;
// $darkenColor: #4C26E2;
// $activeColor: #f97517;