$primaryColor: #555555;
$secondaryColor: #db9a22;
$darkenColor: #e0b400;
$activeColor: #e0b400;

// $primaryColor: #644CC3;
// $secondaryColor: #A856F7;
// $darkenColor: #4C26E2;
// $activeColor: #f97517;