@import 'constants';

.noteCreateForm__container {
    width: 100%;
    min-height: 37.5rem;
    padding: 1.25rem;
    border-radius: .625rem;
    border: 2px solid $secondaryColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-title_input {
      width: 100%;
      height: 2.5rem;
      padding: 0 .625rem;
      border: 1px solid $primaryColor;
      border-radius: 5px;
      outline: none;
    }
    &-btn_save {
      width: 31.25rem;
      height: 3.125rem;
      border-radius: 10px;
      border: none;
      color: white;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: .0625rem;
      letter-spacing: .0625rem;
      background: linear-gradient(90deg, $primaryColor 0%, $secondaryColor 100%);
      &-container {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }