.quillEditor__hideToolBar {
  .ql-toolbar {
    display: none;
  }
  .ql-container {
    border: none;
  }
}

.quillEditor__default {
  .ql-toolbar {
    stroke: #bbbbbb;
    color: #bbbbbb;
    border: none;
    border-bottom: 1px solid #bbbbbb;
    .ql-formats {
      span, svg, line, path, rect, polyline {
        color: #bbbbbb;
        stroke: #bbbbbb;
      }
      .ql-picker {
        color: #bbbbbb;
        stroke: #bbbbbb;
        .ql-stroke {
          color: #bbbbbb;
          stroke: #bbbbbb;
        }
      }
    }
  }
  .ql-container {
    min-height: 500px;
    border: none;
  }
}