@import 'styles/globals.scss';

body {
  padding: 0;
  margin: 0;
  color: #e7e7e7;
}

a {
  text-decoration: none;
  color: #e7e7e7;
}

.App {
  font-family: 'Inconsolata', 'Quicksand', monospace;
  text-align: center;
}

.ce-block__content {
  margin: 0;
  max-width: 100%;
}
  
.container {
  &__sidebar {
    width: 325px;
    position: fixed;
    padding: 0;
    height: 100vh;
    display: flex;
  }
  &__main {
    margin-left: 325px;
    padding: 0;
    height: 100vh;
    display: flex;
  }
}

.hidden {
  display: none;
}

.row {
  --bs-gutter-x: none;
}