@import 'styles/globals.scss';
@import 'styles/_constants.scss';


body {
  padding: 0;
  margin: 0;
  color: #e7e7e7;
  background: $grey-1;
  font-family: 'JetBrains Mono', 'Barlow', sans-serif;
}

a {
  text-decoration: none;
  color: #e7e7e7;
}

.App {
  text-align: center;
}

.ce-block__content {
  margin: 0;
  max-width: 100%;
}
  
.container {
  &__sidebar {
    width: 325px;
    position: fixed;
    padding: 0;
    height: 100vh;
    display: flex;
  }
  &__main {
    margin-left: 325px;
    padding: 0;
    height: 100vh;
    display: flex;
  }
}

.hidden {
  display: none;
}

.row {
  --bs-gutter-x: none;
}